@{
    ViewData["Title"] = "Главная";
}
<link rel="stylesheet" href="~/css/index.css" />
<div class="container-flex">
    <h2>Group 1</h2>

    <div class="input-group mb-3 py-2">
        <input type="text" class="form-control" placeholder="Новая задача" aria-label="Новая задача" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">Добавить</button>
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="1">
                <label class="form-check-label" for="flexCheckDefault">
                    Задача 1
                </label>
                <button type="button" class="btn p-0 m-0 float-end star-toggle" style="width:25px; height:25px"><img class="p-0 m-0" src="~/png/star.png" width="20px" /></button>
            </div>
        </li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>


    <div id="accordion" class="pt-3">
        <div class="">
            <div class="">

                <a class="btn list-group-item" style="text-align:left" data-bs-toggle="collapse" href="#collapseOne">
                 Выполненные 
                </a>

            </div>
            <div id="collapseOne" class="collapse" data-bs-parent="#accordion">
                <div class=" mx-0">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="form-check p-0">
                              
                                <label class="form-check-label " for="flexCheckDefault">
                                    Задача 1
                                </label>
                                <button type="button" class="btn p-0 m-0 float-end" style="width:25px; height:25px"><img class="p-0 m-0" src="~/png/trash.png" width="20px" /></button>

                            </div>
                        </li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/index.js"></script>
