@{
    ViewData["Title"] = "Главная";
}
<link rel="stylesheet" href="~/css/index.css" />
<div class="container-flex">
    <h2 id="" class="group-name">Group 1</h2>

    <div class="input-group mb-3 py-2">
        <input type="text" class="form-control name-task-input" placeholder="Новая задача" aria-label="Новая задача" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary task-create-btn" type="button">Добавить</button>
        </div>
    </div>
    <ul class="list-group noconf-task-list">
        <li class="noconf-task-temp d-none noconf-task" id="">
            <div class="form-check">
                <input class="form-check-input noconf-task-chbx" type="checkbox" value="" id="">
                <label class="form-check-label task-label" for="flexCheckDefault">
                    Задача 1
                </label>
                <button type="button" class="btn p-0 m-0 float-end star-toggle favorites-btn" style="width:25px; height:25px"><img class="p-0 m-0" src="~/png/unStar.png" width="20px" /></button>
            </div>
        </li>
        
        
    </ul>


    <div id="accordion" class="pt-3">
        <div class="">
            <div class="">

                <a class="btn list-group-item" style="text-align:left" data-bs-toggle="collapse" href="#collapseOne">
                 Выполненные 
                </a>

            </div>
            <div id="collapseOne" class="collapse" data-bs-parent="#accordion">
                <div class=" mx-0">
                    <ul class="list-group conf-task-list" id=" ">
                        <li class=" conf-task-temp d-none conf-task">
                            <div class="form-check p-0">                         
                                <label class="form-check-label task-label" for="flexCheckDefault">
                                    Задача 1
                                </label>
                                <button type="button" class="btn p-0 m-0 float-end task-delete-btn" style="width:25px; height:25px"><img class="p-0 m-0" src="~/png/trash.png" width="20px" /></button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/index.js"></script>
